@media(max-width:450px) {
    .nav-links ul {
        display: none;
    }

    .hero-section {
        flex-direction: column;
        gap: 0;
        padding: 0;
        align-items: normal;
    }

    .hero-right img {
        width: 381px;
        margin-top: 20px;
    }

    .hero-left {
        max-width: 91vw;
        margin: 30px 0;
        padding-left: 30px;

    }

    .big-feature-container {
        flex-direction: column !important;
    }

    .blog-area {
        flex-direction: column;
    }

    .blog-card {
        width: 95%;
    }

    .footer-container {
        flex-direction: column;
        gap: 4vh;
    }

    .fot-pages .hover-links {
        display: none;
    }
}